                                <!----------  Step: Question ------------>
                                <div class="row">
                                    <div class="col-lg-12 text_detect border-around" style="margin-top: 30px;display:none;">
    
                                        <table class="ansChoices table table-condensed"
                                            style="">
                                            <thead>
                                            <tr>
                                                <th colspan="4" class="text-center" style="">
                                                    <h4 style="font-weight: bold; margin: 2px auto">
                                                        Step 1: Is more than one question asked?
                                                        <a class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="popover"  data-placement="top" data-content="
                                                        For example, the answer to question like ''what brand is this? what type of skin it is for?'' is YES"></a>
                                                    </h4>
                                                    
    
                                                </th>
                                            </tr>
                                            </thead>
    
                                            <tbody>
                                            <tr>
                                                <!-- Col 1 -->
                                                <td style="width: 50%; padding-left: 0px">
    
                                                    <div class="radio ans_choice pull-right">
                                                        <label>
                                                            <input id="step1inputY" name="MULTI_QUESTION_DETECT" type="radio" value="Y">
                                                            <strong>YES:</strong>
                                                            More than one question is asked.
                                                        </label>
                                                    </div>
                                                </td>
    
                                                <!-- Col 2 -->
                                                <td style="width: 50%; padding-right: 0px">
    
                                                    <div class="radio ans_choice pull-left">
                                                        <label>
                                                            <input id="step1inputN" name="MULTI_QUESTION_DETECT" type="radio" value="N" checked="checked">
                                                            <strong>NO:</strong>
                                                            Just one question is asked.
                                                        </label>
                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
    
                                    </div>
    
                                </div><!----------  Step: question ------------>