
                        <!------- image column ------->
                        <div class="col-sm-8 col-md-6">

                                <!---------- Image ---------->
                                <div class="pageContain">
                                    
                                        <div class="viewer" >
    
                                        <h3 class="text-secondary" id="imageID"></h3>
                                        <h3 class="text-secondary" id="question"></h3>
                                        <h3 class="text-secondary" id="context">Context: placeholder</h3> <div id="canvaswrapper" style="position:relative;width:500px; height:500px;">
                                            <img class="coveredImage" id="image" src="" style="position: absolute; left: 0; top: 0; z-index: 0; user-select: none;">
                                            <!-- <canvas id="myCanvas" width="400" height="500" 
                                            style="position: absolute; left: 0; top: 0; z-index: 1; "></canvas> -->
                                        </div>
                                    </div>
    
    
                                </div>
                            </div>
    