<!-- {% extends 'base.html' %} -->

{% block head %}
{% endblock head %}

{% block IMPORTANT %}
<h2 class="title">Main Task </h2> 
{% endblock IMPORTANT %}

{% block numimages%}
<li><p>Reminder: You will complete steps 1-3 for each answer to 3 question-based images in this HIT.</p></li>
{% endblock numimages %}

{% block body %}


        <form name='form' method='post' id='form' action='https://www.mturk.com/mturk/externalSubmit'><input type='hidden' value='' name='assignmentId' id='assignmentId'/>
        
            <div class="custom-margin">
            <ul class="nav nav-tabs controlImg">
                    <li class="active"><a href="#tab1" id="TAB1" data-toggle="tab" onClick="find_activated_tab(this.id)">Model 1</a></li>
                    <li class="enabled"><a href="#tab2" data-toggle="tab" id="TAB2" onClick="find_activated_tab(this.id)">Model 2</a></li>
                    <li class="enabled"><a href="#tab3" data-toggle="tab" id="TAB3" onClick="find_activated_tab(this.id)">Model 3</a></li>
                    <li class="enabled"><a href="#tab4" data-toggle="tab" id="TAB4" onClick="find_activated_tab(this.id)">Model 4</a></li>
                    <li class="enabled"><a href="#tab5" data-toggle="tab" id="TAB5" onClick="find_activated_tab(this.id)">Model 5</a></li>
                    <li class="enabled"><a href="#tab6" data-toggle="tab" id="TAB6" onClick="find_activated_tab(this.id)">Model 6</a></li>
                    <li class="enabled"><a href="#tab7" data-toggle="tab" id="TAB7" onClick="find_activated_tab(this.id)">Model 7</a></li>
            </ul>


                
                    <!-------- main content ---------->
                    <div class="row">
                        {% include 'image.html'%}
                        {% include 'steps.html'%}
                        <!-- <p id ="xycoorcommonAnswer"></p> -->


                        


                    </div>
            <!-- end section 1-->

                <div class="tab-content">
                    <div class="tab-pane btndiv active" id="tab1">
                        <button type="button" class="btn btnNext" id = "btnNext1">Next Answer</button>
                    </div>
                    <div class="tab-pane btndiv" id="tab2">
                        <button type="button" class="btn btnNext">Next Answer</button>
                        <button type="button" class="btn btnPrevious" >Previous Answer</button>
                    </div>
                    <div class="tab-pane btndiv" id="tab3">
                        <button type="button" class="btn btnNext">Next Answer</button>
                        <button type="button" class="btn btnPrevious" >Previous Answer</button>
                    </div>
                    <div class="tab-pane btndiv" id="tab4">
                        <button type="button" class="btn btnNext">Next Answer</button>
                        <button type="button" class="btn btnPrevious" >Previous Answer</button>
                    </div>
                    <div class="tab-pane btndiv" id="tab5">
                        <button type="button" class="btn btnNext">Next Answer</button>
                        <button type="button" class="btn btnPrevious" >Previous Answer</button>
                    </div>
                    <div class="tab-pane btndiv" id="tab6">
                        <button type="button" class="btn btnNext">Next Answer</button>
                        <button type="button" class="btn btnPrevious" >Previous Answer</button>
                    </div>
                    <div class="tab-pane btndiv" id="tab7">
                        <button type="button" class="btn waves-effect waves-light btnsubmit"   id= "submitbtn">Next Image</button>

                        <button type="button" class="btn btnPrevious" >Previous Answer</button>
                    </div>

                </div>

            </div>
            
            

        </form>

        
        <script src="static/js/Cookie.js"></script>
        <script src="static/js/Initialize.js"></script>
        <script src="static/js/WholeHTML.js"></script>
        <!-- <script language='Javascript'>turkSetAssignmentID();</script> -->

        
{% endblock %}