
                        <!----------- all tasks column ----------->
                        <div class="col-sm-4 col-md-6">
                                <!----------  Step: Visual Grounding ------------>
                                <div class="col-lg-12">
                                    <h4 style="
                                        text-align: left;
                                        font-weight: bold;
                                        padding: 5px;
                                        margin: 0px 0px;
                                    ">
                                    Please read the question, context, and image shown on the left, the reference answer and algorithm-generated answer on the right. 
                                    <!-- </h4>
                                    <h4 style="
                                    text-align: left;
                                    font-weight: bold;
                                    padding: 5px;
                                    margin: 0px 0px;
                                    color:red;
                                ">
                                We review the results. If you do not follow the instructions, your work may be rejected.
                                </h4> -->
                                <!-- </div> -->
                            
                                </div><!----------  Step: Visual Grounding ------------>
                                
                                <h3 class="text-secondary" id="Ranswer">Reference Answer: placeholder</h3>
                                <h3 class="text-secondary" id="Manswer">Model-generated Answer: placeholder</h3>

                    </div>
                    <!--- end all tasks column --->
    