
<div class="row">
    
    <div class="col-sm-24 col-md-12">
            <div class="thumbnail">
                
            <p><strong>Question: </strong> What version of Japanese Bridge is this? <br>
                <strong>Context: </strong>  I'm aware that Monet painted multiple versions of the "Japanese Bridge." Which specific version is this? Do you know when and where did he paint it? Is it possible to view this version in Paris? <br>
                <strong>Reference Answer:</strong> The full name of this painting is "Water Lilies and Japanese Bridge". Claude Monet painted it on 1899 in Giverny, France. You cannot find it in Paris as it is exhibited in Art Museum of Princeton University. </strong> <br>
            <strong>Model's Answer: </strong> I'm unable to determine the exact version, but you might find it at the Musée d'Orsay or the Musée de l'Orangerie. </p>

            <img src="static/images/monet.jpg" alt="Water Lilies and Japanese Bridge"  width="300px" height="400px">
            <div class="caption ">
                <h4>
                    
                    <span class ="red"> Incorrect </span>
                        <!-- <span class="glyphicon glyphicon-option-horizontal red" aria-hidden="true"> Yes</span> -->
                    
                    </h4>
                    <p> Reason: Pillow is <strong>not shown</strong> in the image.</p>
            </div>
            </div>
        </div>

</div>  