
<div class="row">
    
    <div class="col-sm-24 col-md-12">
            <div class="thumbnail">
                
            <p><strong>Question: </strong> What version of Japanese Bridge is this? <br>
                <strong>Context: </strong>  I'm aware that Monet painted multiple versions of the "Japanese Bridge." Which specific version is this? Do you know when and where did he paint it? Is it possible to view this version in Paris? <br>
                <strong>Reference Answer:</strong> The full name of this painting is "Water Lilies and Japanese Bridge". Claude Monet painted it on 1899 in Giverny, France. You cannot find it in Paris as it is exhibited in Art Museum of Princeton University.</strong> <br>
            <strong>Model's Answer: </strong>Claude Monet indeed painted multiple versions of the "Japanese Bridge," also known as the "Water-Lily Pond" series. Monet's Japanese Bridge series was created in his garden at Giverny, France. One of the most famous versions is the one he painted in 1899. This particular version is often referred to as "The Japanese Bridge" and is housed in the collection of the National Gallery in London, United Kingdom.</p>

            <img src="static/images/monet.jpg" alt="Water Lilies and Japanese Bridge"  width="300px" height="400px">
            <div class="caption ">
                <h4>
                    
                    <span class ="red"> Partially Correct </span>
                        <!-- <span class="glyphicon glyphicon-option-horizontal red" aria-hidden="true"> Yes</span> -->
                    
                    </h4>
                    <p> Reason: The model provided <strong>correct</strong> answers for "when" and "where" but made <strong>errors </strong>regarding the version and its displaying location. </p>
            </div>
            </div>
        </div>

</div>  